.warna1 {
  background-color: #000000;
}
.warna2 {
  background-color: #ca965c;
}
.warna3 {
  background-color: #eec373;
}
.warna4 {
  background-color: #f4dfba;
}

.banner {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/sqWeXsMvy5N0IzsOn4yW.png");
}
.highlighted-kategori {
  height: 250px;
}

.kategori-baju-pria {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/fYRBmIxpKZ8eLj3XbyaP.png");
  background-size: cover;
  background-position: center;
}
.kategori-baju-wanita {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/fYRBmIxpKZ8eLj3XbyaP.png");
  background-size: cover;
  background-position: center;
}
.kategori-sepatu {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/fYRBmIxpKZ8eLj3XbyaP.png");
  background-size: cover;
  background-position: center;
}

.no-decoration {
  text-decoration: none;
  color: white;
}

.no-decoration:hover {
  color: #eec373;
}

.text-harga {
  font-size: 22px;
  color: #ca965c;
}

.image-box{
  height: 250px;
}
.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-subscribe {
  background-color: rgba(0, 0, 0, 0.7);
}
.content-subscribe a{
  color: #fff;
}

.banner-produk {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/sqWeXsMvy5N0IzsOn4yW.png");
    background-position: 50% 35%;
}

